@import "tailwindcss";
/* @import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities); */

@theme {
  --color-1000: #151619;
  --color-900: #1d1f22;
  --color-800: #2b2d31;
  --color-700: #35393f;
  --color-600: #5a6069;
  --color-500: #7c8187;
  --color-400: #c1c4cb;
  --color-300: #e4e4e4;
  --color-200: #f5f5f5;
  --color-100: #ffffff;
  --color-orange: #e46643;
  --color-orange-hover: #f39765;
}

h1 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 32px;
  color: var(--color-700);
  line-height: 1.5;
}
[data-theme="dark"] h1 {
  color: var(--color-100);
}

h2 {
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 28px;
  color: var(--color-700);
}
[data-theme="dark"] h2 {
  color: var(--color-100);
}

h3 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 24px;
  color: var(--color-700);
}
[data-theme="dark"] h3 {
  color: var(--color-100);
}

h4 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 20px;
  color: var(--color-700);
}
[data-theme="dark"] h4 {
  color: var(--color-100);
}

h5 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 16px;
  color: var(--color-700);
}
[data-theme="dark"] h5 {
  color: var(--color-100);
}

h6 {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 14px;
  color: var(--color-orange);
}

p,
li {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-500);
}
[data-theme="dark"] p,
[data-theme="dark"] li {
  color: var(--color-400);
}

ol li {
  padding-left: 9px;
}

ul li {
  padding-left: 10px;
}

ul li::marker {
  color: var(--color-orange);
}
li {
  margin: 0;
  padding: 0;
}

blockquote {
  background-color: var(--color-200);
  padding-inline: 24px;
  border-radius: 4px;
  border-left: 4px solid var(--color-orange);
  margin: 0;
}
[data-theme="dark"] blockquote {
  background-color: var(--color-800);
}

blockquote p {
  color: var(--color-700);
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
[data-theme="dark"] blockquote p {
  color: var(--color-100);
}

a {
  color: var(--color-700);
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}
[data-theme="dark"] a {
  color: var(--color-100);
}

pre {
  background-color: var(--color-200);
  border-radius: 4px;
  padding: 24px;
}
[data-theme="dark"] pre {
  background-color: var(--color-800);
}

code {
  font-family: "Roboto Mono";
  color: var(--color-700);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  white-space: pre-wrap;
}
[data-theme="dark"] code {
  color: var(--color-100);
}

ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.heading-m {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: var(--color-100);
}

.heading-s {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--color-500);
}
[data-theme="dark"] .heading-s {
  color: var(--color-400);
}

.body-s {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 13px;
  color: var(--color-500);
}
[data-theme="dark"] .body-s {
  color: var(--color-400);
}

.markdown-code {
  white-space: "pre-wrap";
  font-family: "Roboto Mono";
  font-size: "16px";
  line-height: "24px";
  font-weight: "400";
  padding: "16px";
  outline: "none";
}

.markdown-color {
  color: var(--color-700);
  background-color: var(--color-100);
}
[data-theme="dark"] .markdown-color {
  color: var(--color-400);
  background-color: var(--color-1000);
}

.bg-convertor {
  background-color: var(--color-200);
}
[data-theme="dark"] .bg-convertor {
  background-color: var(--color-900);
}

.bg-layout {
  background-color: var(--color-100);
}
[data-theme="dark"] .bg-layout {
  background-color: var(--color-1000);
}

.bg-modal {
  background-color: var(--color-100);
}
[data-theme="dark"] .bg-modal {
  background-color: var(--color-900);
}

.bg-modal-layout {
  background-color: color-mix(
    in oklab,
    var(--color-1000) /* #151619 */ 60%,
    transparent
  );
}
[data-theme="dark"] .bg-modal-layout {
  background-color: color-mix(
    in oklab,
    var(--color-100) /* #ffffff */ 20%,
    transparent
  );
}

.border-grid {
  border-color: var(--color-400);
}
[data-theme="dark"] .border-grid {
  border-color: var(--color-700);
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid theme("colors.neutral.500");
    border-right-color: theme("colors.neutral.200");
    animation: rotate 1s infinite linear;
  }
}

@layer utilities {
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
